<div class="container pane blue-pane">
  <div class="header">
    <h1 class="header-title">{{header}}</h1>
  </div>
  <div class="content ">
    <div class="row">
      <div class="col-xs-12">
        <div ng-repeat="car in cars" class="row entry">
          <div class="col-xs-2">
            <img class="profile-inline" src="{{car.photo}}"/>
          </div>
            <div class="col-xs-8 car-status">
              <p class="car-name">
                {{car.owner}}</p>
              <small class="car-model">
                  {{car.model}}</small>
            </div>
            <div class="col-xs-2 action-icon">
              <div  ng-show="free(car)"><a ng-href="/shotgun/{{car.id}}"><img class="icon" src="images/shotgun blue larger@2x.png"/></a></div>
              <div  ng-show="dispute(car)"><a ng-href="/dispute/{{car.id}}"><span class="fa fa-hand-rock-o fa-2x"></span></a></div>
              <div  ng-show="disputing(car)"><span class="disputed fa fa-hand-rock-o fa-2x"></span></div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="center-button"><a ng-href="/"><img src="images/close.png"/></a></div>
    <div class="footer-inner">
      <!-- <div class="left-button"><a ng-href="/home"><span class="fa fa-home"></span></div>
      <div class="right-button"><a ng-href="/profile/{{user.id}}"><span class="fa fa-user"></span></div> -->
    </div>
  </div>
