<div class="container-fluid pane blue-pane">
  <div class="header">
    <h1 class="header-title">Shotgun dispute</h1>
  </div>


  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <p>You claim {{dispute.shotgun.user.name}} has {{dispute.reason}}</p>
        <p>Present your case!</p>
      </div>
      <div class="col-xs-12">
          <div ng-repeat="choice in choices" class="row entry">
            <div ng-click="disputeSelect(choice.name)" class="col-sm-12 text-center">
              <p >
                <i class=" fa fa-hand-{{choice.name}}-o fa-2x"></i>
                <i>{{choice.name}}</i>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="center-button"><a ng-href="/"><img src="images/icon@2x.png"/></a></div>
    <div class="footer-inner">
      <!-- <div class="left-button"><a ng-href="/home"><span class="fa fa-home"></span></div>
      <div class="right-button"><a ng-href="/profile/{{user.id}}"><span class="fa fa-user"></span></div> -->
    </div>
  </div>
</div>
