<div class="container-fluid pane blue-pane">
  <div class="header">
    <h1 class="header-title">Shotgun dispute</h1>
  </div>
  <div class="content" ng-click="update()"  >
    <div class="row">
      <div class="col-sm-12">
        You have choosen:
      </div>
      {{dispute}}
      <div class="col-sm-12">
        <div class="col-sm-12 text-center">
          <p>
            <i class=" fa fa-hand-{{dispute.choice}}-o fa-2x"></i>
          </p>
          <p>{{dispute.choice}}</p>
        </div>
      </div>
      <div class="col-sm-12">
        Waiting for {{dispute.shotgun.user.name}}
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="center-button"><a ng-href="/"><span class="fa fa-home fa-5x"></span></a></div>
    <div class="footer-inner">
      <!-- <div class="left-button"><a ng-href="/home"><span class="fa fa-home"></span></div>
      <div class="right-button"><a ng-href="/profile/{{user.id}}"><span class="fa fa-user"></span></div> -->
    </div>
  </div>
</div>
