<div class="container-fluid pane blue-pane">
  <div class="row">
    <div class="col-sm-6 user-logo">
      <img class="profile" ng-src="{{dispute.user.photo}}">
        <i class=" fa fa-hand-{{dispute.choice}}-o fa-2x"></i>
      <i class="choice">{{dispute.choice}}</i>
    </div>
    <div class="col-sm-6 user-logo">
      <img class="profile" ng-src="{{dispute.shotgun.user.photo}}">
        <i class=" fa fa-hand-{{dispute.shotgun.choice}}-o fa-2x"></i>
            <i class="choice">{{dispute.shotgun.choice}}</i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p ng-if="wonDispute" class="choice">{{dispute.choice}} <strong>{{ verb}}</strong> {{dispute.shotgun.choice}}</p>
      <p ng-if="!wonDispute " class="choice">{{dispute.shotgun.choice}} <strong>{{ verb }}</strong> {{dispute.choice}}</p>
    </div>
  </div>
  <div ng-show="wonDispute" class="blue-bar">
    <p >You win!</p>
  </div>
  <div ng-show="!wonDispute&&!tie" class="red-bar">
    <p>You lost!</p>
  </div>
  <div ng-show="tie" class="red-bar">
    <p>Tie!</p>
  </div>
  <div class="unshot" ng-hide="true">Unshot this car</div>
  <div class="footer">
    <div class="center-button"><a ng-href="/"><img src="images/icon@2x.png"/></a></div>
    <div class="footer-inner">
      <!-- <div class="left-button"><a ng-href="/home"><span class="fa fa-home"></span></div>
      <div class="right-button"><a ng-href="/profile/{{user.id}}"><span class="fa fa-user"></span></div> -->
    </div>
  </div>
</div>
