<div class="container-fluid">
  <div class="header">
    <p class="header-title">{{header.title}}</p>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        You have choosen:
      </div>
      <div class="col-sm-12">
        <ul>
          <div class="col-sm-12">
            <li><span class="icon icon-{{choice}}"></li>
          </div>
        </ul>
      </div>
      <div class="col-sm-12">
        Waiting for {{shotgun.user.name}}
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="center-text"><a>Cancel</a></div>
  </div>
</div>
