<div class="container pane white-pane">
  <div class="header">
    <h1 class="header-title">
    Shotgun that car</h1>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <div ng-repeat="leader in leaderboard" class="row entry">
          <div class="col-sm-12">
            <a ng-href="/profile/{{leader.id}}">
              <div class="col-xs-2">

              <p class="leader-position">{{$index+1}}</p>
            </div>

              <div class="col-xs-2">

              <img class="profile" src="{{leader.photo}}"/>
            </div>

              <div class="col-xs-6">

              <p class="leader-name">{{leader.name}}</p>
            </div>
              <div class="col-xs-2">
              <p class="leader-score">{{leader.score}}</p>
            </div>

            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="center-button"><a ng-href="/shotgun"><span class="fa fa-crosshairs fa-4x"></span></a></div>
    <div class="footer-inner">
      <div class="left-button"><a ng-href="/home"><span class="fa fa-home fa-2x"></span></div>
      <div class="right-button"><a ng-href="/profile/{{user.id}}"><span class="fa fa-user fa-2x"></span></div>
    </div>
  </div>
</div>
